<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
	<base href="/blog/" />
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller="mainCtrl">
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="row clearfix">
					<div class="navbar-header">
						<button class="navbar-brand pull-left btn btn-link" ng-click="viewHome()">Home</button>
					</div>
					<div class="navbar-right">
						<button class="btn btn-success navbar-btn" ng-click="viewAdd()">Add post</button>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div ng-view></div>
	</main>
    <script src="build.js"></script>
</body>
</html>
