<section class="posts" infinite-scroll="getMoreData()" infinite-scroll-distance="0" >
	<div class="container">
		<div class="row">
			<ul>
				<article ng-repeat="post in data | limitTo: listLimit track by $index" class="post" when-visible="animateElementIn" class="hidden post">
					<h4><a href="posts/{{post.id}}">{{post.title}}</a></h4>
					<ul class="post-comments">
						<li ng-repeat="comment in comments | filter: {postId: post.id} | limitTo: commentsLimit" ng-model="post.id">{{comment.body}} <span>(postId: {{comment.postId}})</span></li>
					</ul>
				</article>
			</ul>
		</div>
	</div>
</section>


