main{
	padding: 0 0 50px;
}

.btn{
	outline: none;
	&:focus, &:active, &:active:focus{
		outline: none;
		box-shadow: none;
	}
}

.acticle{
	.comments{
		margin: 50px 0 0;
		padding: 0;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				p{
					margin: 0;
					span{
						display: inline-block;
						margin-right: 20px;
					}
				}
				& + li{
					margin-top: 30px;
				}
				.form-item{
					p{
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}

.posts{
	article{
		ul{
			margin: 0;
			li{
				color: grey;
				span{
					color: #a94442;
					opacity: .6;
				}
			}
		}
		a{cursor: pointer;}
		& + article{margin-top: 50px;}
	}
}

.create{
	.add-post{padding:0}
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
